.benchmarks_tables_grid_wrapper {
	display: grid;
	grid-gap: 1rem;
}

.benchmarks_tables_grid {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 1rem;
}

.benchmarks_table_grid {
	display: grid;
	grid-gap: 0.5rem;
}

.benchmarks_table_title {
	font-size: 1.25rem;
}
