[workspace]
members = ["app", "core", "pinwheel", "term-ui"]
exclude = ["buffy", "languages/rust"]

[package]
name = "tangram"
version = "0.0.0"
edition = "2018"

[lib]
name = "tangram"
path = "lib.rs"
crate-type = ["lib", "cdylib", "staticlib"]

[[bin]]
name = "tangram"
path = "main.rs"

[features]
default = ["train", "app"]
train = ["tangram-core"]
app = ["tangram-app"]

[dependencies]
anyhow = "1"
clap = { version = "2.33", features = ["color"] }
colored = "2"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
tangram-app = { path = "app", optional = true }
tangram-core = { path = "core", optional = true }
term-ui = { git = "https://github.com/tangram-hq/term-ui" }

[patch.'https://github.com/tangram-hq/buffy']
buffy = { path = "buffy/buffy-rs" }

[patch.'https://github.com/tangram-hq/term-ui']
term-ui = { path = "term-ui" }
