[workspace]
members = [
	"app",
	"cli",
	"core",
	"features",
	"libtangram",
	"linear",
	"metrics",
	"pinwheel",
	"scripts",
	"tree",
	"util",
]

[profile.release]
debug = true
# codegen-units = 1
# lto = true

# [patch.'https://github.com/tangram-hq/term-ui']
# term-ui = { path = "../term-ui" }

[patch.'https://github.com/launchbadge/sqlx']
sqlx = { path = "../sqlx" }

