[workspace]
members = ["app", "core", "pinwheel"]
exclude = ["languages/rust"]

[package]
name = "tangram"
version = "0.2.0-dev"
edition = "2018"

[lib]
name = "tangram"
path = "lib.rs"
crate-type = ["lib", "cdylib", "staticlib"]

[[bin]]
name = "tangram"
path = "main.rs"

[features]
default = ["train", "app"]
train = ["tangram-core"]
app = ["tangram-app"]

[dependencies]
anyhow = "1"
clap = { version = "3.0.0-beta.1", features = ["color"] }
colored = "2"
once_cell = "1"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
tangram-app = { path = "app", optional = true }
tangram-core = { path = "core", optional = true }
term-ui = { git = "https://github.com/tangram-hq/term-ui" }
tokio = { version = "0.2", features = ["rt-threaded"] }
url = "2"

# [patch.'https://github.com/tangram-hq/buffy']
# buffy = { path = "buffy/buffy-rs" }

# [patch.'https://github.com/tangram-hq/term-ui']
# term-ui = { path = "term-ui" }
