[workspace]
exclude = ["languages/rust"]
members = [
	"app",
	"cli",
	"core",
	"finite",
	"id",
	"libtangram",
	"linear",
	"metrics",
	"ndarray",
	"pinwheel",
	"pool",
	"progress",
	"super_unsafe",
	"text",
	"tree",
]

# [profile.release]
# debug = true
# codegen-units = 1
# lto = true
