[workspace]
members = ["pinwheel"]
exclude = ["languages/rust"]

[package]
name = "tangram"
version = "0.2.0-dev"
edition = "2018"

# [profile.release]
# debug = true
# codegen-units = 1
# lto = true

[lib]
name = "tangram"
path = "lib.rs"
crate-type = ["lib", "cdylib", "staticlib"]

[[bin]]
name = "tangram"
path = "main.rs"

[[bin]]
name = "flights-gbt"
path = "gbt/bench/flights.rs"

[[bin]]
name = "higgs-gbt"
path = "gbt/bench/higgs.rs"

[[bin]]
name = "census-gbt"
path = "gbt/bench/census.rs"

[[bin]]
name = "boston-gbt"
path = "gbt/bench/boston.rs"

[[bin]]
name = "heart-disease-gbt"
path = "gbt/bench/heart-disease.rs"

[[bin]]
name = "iris-gbt"
path = "gbt/bench/iris.rs"


[features]
default = ["train", "app"]
train = []
app = []

[build-dependencies]
pinwheel = { path = "pinwheel" }

[dev-dependencies]
insta = "0.16"

[dependencies]
anyhow = "1"
base64 = "0.12"
bytes = "0.5"
chrono = { version = "0.4", features = ["serde"] }
chrono-tz = { version = "0.5", features = ["serde"] }
clap = { version = "3.0.0-beta.1", features = ["color"] }
colored = "2"
csv = "1"
derive_more = "0.99"
dirs = "3"
futures = "0.3"
hyper = { version = "0.13", features = ["stream"] }
include_dir = "0.6"
itertools = "0.9"
lexical = "5"
maplit = "1"
multer = "1.2"
ndarray = { version = "0.13", features = ["serde"] }
num-traits = "0.2"
once_cell = "1"
pinwheel = { path = "pinwheel" }
rand = "0.7"
rand_xoshiro = "0.4"
reqwest = { version = "0.10", default-features = false, features = ["json", "rustls-tls"] }
rmp-serde = "0.14"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
serde_urlencoded = "0.7"
serde_yaml = "0.8"
sqlx = { git = "https://github.com/nitsky/sqlx", branch = "master", default-features = false, features = ["any", "chrono", "postgres", "runtime-tokio", "sqlite"] }
term-ui = { git = "https://github.com/tangram-hq/term-ui" }
thiserror = "1"
tokio = { version = "0.2", features = ["rt-threaded"] }
url = "2"

[target.'cfg(target_arch = "wasm32")'.dependencies]
wee_alloc = "0.4"

# [patch.'https://github.com/tangram-hq/term-ui']
# term-ui = { path = "term-ui" }
