[package]
name = "tangram-core"
version = "0.2.0-dev"
edition = "2018"

[lib]
path = "lib.rs"

[[bin]]
name = "flights-gbt"
path = "gbt/bench/flights.rs"

[[bin]]
name = "higgs-gbt"
path = "gbt/bench/higgs.rs"

[[bin]]
name = "census-gbt"
path = "gbt/bench/census.rs"

[[bin]]
name = "boston-gbt"
path = "gbt/bench/boston.rs"

[[bin]]
name = "heart-disease-gbt"
path = "gbt/bench/heart-disease.rs"

[[bin]]
name = "iris-gbt"
path = "gbt/bench/iris.rs"

[dev-dependencies]
insta = "0.16"

[dependencies]
anyhow = "1"
bytes = "0.5"
csv = "1"
derive_more = "0.99"
itertools = "0.9"
lexical = "5"
maplit = "1"
ndarray = { version = "0.13" }
num-traits = "0.2"
once_cell = "1"
rand = "0.7"
rand_xoshiro = "0.4"
rmp-serde = "0.14"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
serde_yaml = "0.8"
thiserror = "1"

[target.'cfg(target_arch = "wasm32")'.dependencies]
wee_alloc = "0.4"
