.auth-layout-grid {
	display: grid;
	grid-row-gap: 1rem;
	justify-content: center;
	justify-items: center;
	padding-top: 1rem;
}

.auth-layout-logo {
	height: 5rem;
	width: 5rem;
}

.auth-layout-card {
	width: 300px;
}
