@media (max-width: 1199px) {
	.model-layout {
		display: grid;
		grid: 'model-group-topbar' auto 'model' auto / minmax(0, 1fr);
		overflow: hidden;
	}
}

@media (min-width: 1200px) {
	.model-layout {
		display: grid;
		grid: 'model-group-topbar' auto 'model' 1fr / minmax(0, 1fr);
		height: 100%;
		overflow: hidden;
	}
}

@media (max-width: 1199px) {
	.model-layout-grid {
		display: grid;
		grid: 'side-nav' auto 'content' auto / minmax(0, 1fr);
		grid-gap: 2rem;
		height: 100%;
		overflow: hidden;
	}
}

@media (min-width: 1200px) {
	.model-layout-grid {
		display: grid;
		grid: 'side-nav content' 1fr / auto minmax(0, 1fr);
		grid-gap: 2rem;
		height: 100%;
		overflow: hidden;
	}
}

.model-layout-model-group-topbar {
	align-items: center;
	background-color: var(--surface-color);
	display: grid;
	grid: auto / auto 1fr auto auto;
	grid-auto-flow: column;
	grid-gap: 1rem;
	padding: 2rem 1rem;
}

.model-layout-owner-slash-repo-wrapper {
	display: grid;
	grid: auto / auto auto auto;
	gap: 0.25rem;
}

.model-layout-owner-slash-repo-link {
	font-size: 1.25rem;
	text-decoration: none;
	color: var(--text-color);
}

.model-layout-owner-slash-repo-link:hover {
	filter: brightness(90%);
}

.model-layout-content {
	box-sizing: border-box;
	margin: 0 auto;
	max-width: var(--max-width);
	padding: 2rem 2rem;
	width: 100%;
}
