.model-layout {
	display: grid;
	overflow: hidden;
}

@media (max-width: 1199px) {
	.model-layout {
		grid: 'topbar' auto 'model' auto / minmax(0, 1fr);
	}
}

@media (min-width: 1200px) {
	.model-layout {
		grid: 'topbar' auto 'model' 1fr / minmax(0, 1fr);
		height: 100%;
	}
}

.model-layout-grid {
	display: grid;
	gap: 2rem;
	height: 100%;
	overflow: hidden;
}

@media (max-width: 1199px) {
	.model-layout-grid {
		grid: 'side-nav' auto 'content' auto / minmax(0, 1fr);
	}
}

@media (min-width: 1200px) {
	.model-layout-grid {
		grid: 'side-nav content' 1fr / auto minmax(0, 1fr);
	}
}

.model-layout-topbar {
	align-items: center;
	background-color: var(--surface-color);
	display: grid;
	gap: 1rem;
	grid: auto / auto auto;
	justify-content: space-between;
	padding: 2rem 1rem;
}

.model-layout-owner-slash-repo-slash-model-wrapper {
	align-items: center;
	display: grid;
	gap: 1rem;
	grid-auto-flow: column;
}

.model-layout-owner-slash-repo-wrapper {
	display: grid;
	grid: auto / auto auto auto;
	gap: 0.25rem;
}

.model-layout-owner-slash-repo-link {
	font-size: 1.25rem;
	text-decoration: none;
	color: var(--text-color);
}

.model-layout-owner-slash-repo-link:hover {
	filter: brightness(90%);
}

.model-layout-owner-slash-repo-slash {
	font-size: 1.25rem;
	color: var(--text-color);
}

.model-layout-topbar-actions-wrapper {
	display: grid;
	gap: 1rem;
	justify-self: end;
	align-items: center;
	grid-auto-flow: column;
}

.model-layout-content {
	box-sizing: border-box;
	margin: 0 auto;
	max-width: var(--max-width);
	padding: 2rem 2rem;
	width: 100%;
}
