.predict-wrapper {
	display: grid;
	grid: auto auto / 1fr;
	grid-gap: 2rem;
}

.predict-output-wrapper {
	display: grid;
	grid: auto / 1fr 1fr;
	grid-gap: 1rem;
}

.predict-form-items-wrapper {
	display: grid;
	grid: auto / 1fr 20%;
	align-content: center;
	align-items: center;
	grid-gap: 1rem;
}

.predict-form-buttons-wrapper {
	display: grid;
	grid-gap: 1rem;
	grid: auto / 1fr auto;
}

@media (max-width: 1199px) {
	.predict-column-chart-wrapper {
		display: none;
	}
	.predict-form-items-wrapper {
		grid: auto / minmax(0, 1fr);
	}
}
