.index-wrapper {
	color: var(--text);
}

.index-inner {
	display: grid;
	grid: auto auto / minmax(0, 1fr);
}

@media (max-width: 1199px) {
	.index-inner {
		grid-row-gap: 1rem;
	}
}

@media (min-width: 1200px) {
	.index-inner {
		grid-row-gap: 2rem;
	}
}

.index-title {
	margin: 0;
	text-align: center;
}

@media (max-width: 1199px) {
	.index-title {
		font-size: 2rem;
	}
}

@media (min-width: 1200px) {
	.index-title {
		font-size: 3rem;
	}
}

.index-subtitle {
	line-height: 1.5;
	text-align: center;
}

@media (max-width: 1199px) {
	.index-subtitle {
		font-size: 1.25rem;
	}
}

@media (min-width: 1200px) {
	.index-subtitle {
		font-size: 1.5rem;
	}
}

.index-placeholder {
	background-color: #282c34;
	border-radius: var(--border-radius);
	overflow: hidden;
	padding-top: calc((1 / (16 / 9)) * 100%);
	position: relative;
	width: 100%;
}

.index-features-grid {
	display: grid;
}

@media (max-width: 1199px) {
	.index-features-grid {
		grid: auto / minmax(0, 1fr);
		grid-row-gap: 2rem;
	}
}

@media (min-width: 1200px) {
	.index-features-grid {
		grid: auto / minmax(0, 2fr) minmax(0, 1fr);
		grid-auto-flow: dense;
		grid-column-gap: 4rem;
		grid-row-gap: 4rem;
	}
}

.index-step {
	align-content: start;
	display: grid;
	grid-gap: 0.5rem;
}

@media (max-width: 1199px) {
	.index-step {
		grid-column: 1;
	}
}

@media (min-width: 1200px) {
	.index-step {
		grid-column: 2;
	}
}

.index-step-title-wrapper {
	align-items: center;
	display: grid;
	grid: auto / auto auto;
	grid-gap: 0.5rem;
	justify-content: start;
}

.index-step-icon {
	height: 2rem;
	width: 2rem;
}

.index-step-title {
	font-size: 1.5rem;
	font-weight: bold;
	margin: 0;
}
