.alert-wrapper {
	border-radius: var(--border-radius);
	padding: 1rem;
}

.alert-level-info {
	background-color: var(--blue);
	color: var(--fun-text-color);
}

.alert-level-warning {
	background-color: var(--yellow);
	color: var(--fun-text-color);
}

.alert-level-danger {
	background-color: var(--red);
	color: var(--fun-text-color);
}

.alert-title {
	color: var(--fun-text-color);
	font-weight: bold;
	margin-bottom: 1rem;
}

.alert-text {
	line-height: 1.5;
}
