.button {
	appearance: none;
	background-color: var(--accent);
	border: none;
	border-radius: var(--border-radius);
	box-sizing: border-box;
	color: var(--fun-text);
	cursor: pointer;
	display: block;
	font-size: 1rem;
	line-height: 1;
	margin: 0;
	outline: none;
	overflow: hidden;
	padding: 0.75rem 1rem;
	text-align: center;
	text-decoration: none;
	text-overflow: ellipsis;
	user-select: none;
	white-space: nowrap;
	width: 100%;
}
.button:hover {
	filter: brightness(90%);
}
.button:focus {
	filter: brightness(90%);
}
.button:active {
	filter: brightness(80%);
}
.button::-moz-focus-inner {
	border: none;
}
