.callout-wrapper {
	display: grid;
	grid-gap: 0.5rem;
	padding: 1rem;
}

.callout-level-info-wrapper {
	background-color: var(--surface-color);
	border-left-width: 4px;
	border-left-style: solid;
	border-left-color: var(--blue);
}

.callout-level-warning-wrapper {
	background-color: var(--surface-color);
	border-left-width: 4px;
	border-left-style: solid;
	border-left-color: var(--yellow);
}

.callout-level-danger-wrapper {
	background-color: var(--surface-color);
	border-left-width: 4px;
	border-left-style: solid;
	border-left-color: var(--red);
}

.callout-title {
	color: var(--text);
	font-weight: bold;
}

.callout-inner {
	color: var(--text);
	line-height: 1.5;
}
