.code {
	-moz-tab-size: 2;
	background-color: var(--header-color);
	border-radius: var(--border-radius);
	overflow: hidden;
	tab-size: 2;
}

.code-grid {
	display: grid;
	grid-column-gap: 1rem;
	row-gap: 0.5rem;
	grid-template-areas:
		'go javascript python ruby'
		'code code code code';
	grid-template-columns: auto auto auto 1fr;
	grid-template-rows: auto;
	justify-content: start;
	justify-items: start;
	padding-top: 0.5rem;
	position: relative;
}

.code-inner-wrapper {
	color: var(--text-color);
	display: none;
	grid: auto / auto minmax(0, 1fr);
	grid-area: 'code';
	overflow: auto;
	padding: 0.5rem;
	width: 100%;
}

.code-radio-input {
	height: 0;
	margin: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 0;
}

.code-radio-input[data-lang='go']:checked ~ label[data-lang='go'] {
	color: var(--accent-color);
}
.code-radio-input[data-lang='javascript']:checked
	~ label[data-lang='javascript'] {
	color: var(--accent-color);
}
.code-radio-input[data-lang='python']:checked ~ label[data-lang='python'] {
	color: var(--accent-color);
}
.code-radio-input[data-lang='ruby']:checked ~ label[data-lang='ruby'] {
	color: var(--accent-color);
}
.code-radio-input[data-lang='go']:checked
	~ .code-inner-wrapper[data-lang='go'] {
	display: grid;
}
.code-radio-input[data-lang='javascript']:checked
	~ .code-inner-wrapper[data-lang='javascript'] {
	display: grid;
}
.code-radio-input[data-lang='python']:checked
	~ .code-inner-wrapper[data-lang='python'] {
	display: grid;
}
.code-radio-input[data-lang='ruby']:checked
	~ .code-inner-wrapper[data-lang='ruby'] {
	display: grid;
}

.code-radio-label {
	cursor: pointer;
}

.code-radio-label:first-of-type {
	padding-left: 0.5rem;
}

.code-inner-code {
	--moz-tab-size: 2;
	box-sizing: border-box;
	caret-color: black;
	color: var(--text-color);
	font-size: 1rem;
	line-height: 1.5;
	tab-size: 2;
	white-space: pre;
}

.code-line-numbers-wrapper {
	margin-right: 0.5rem;
	text-align: right;
	user-select: none;
}

.code-line-numbers {
	color: var(--muted-text-color);
	font-size: 1rem;
	line-height: 1.5;
}

.inline-code-wrapper {
	background-color: var(--header-color);
	border-radius: var(--border-radius);
	color: var(--text-color);
	font-size: 0.8rem;
	padding: 0.1rem 0.2rem;
}
