.nested-nav {
	display: grid;
	gap: 1.5rem;
}

.nested-nav-section {
	display: grid;
	gap: 0.75rem;
}

.nested-nav-section-title {
	font-size: 1rem;
	font-weight: bold;
}

.nested-nav-item {
	border-left: var(--muted-text-color);
	border-left-width: 2px;
	border-left-style: solid;
	display: grid;
	gap: 0.5rem;
	outline: none;
	overflow: hidden;
	padding-left: 1rem;
	text-overflow: ellipsis;
	user-select: none;
}

.nested-nav-item > a {
	color: var(--muted-text-color);
	cursor: pointer;
	text-decoration: none;
}

.nested-nav-selected {
	border-left-color: var(--accent-color);
}

.nested-nav-selected > a {
	color: var(--accent-color);
}

.nested-nav-selected > a:hover {
	filter: brightness(90%);
}
