.number-comparison-wrapper {
	color: var(--text);
	display: grid;
	grid-gap: 1rem;
	justify-items: center;
	text-align: center;
}
@media (max-width: 1199px) {
	.number-comparison-wrapper {
		grid-gap: 0.5rem;
	}
}

.number-comparison-inner-wrapper {
	align-items: center;
	display: grid;
	grid: 1fr 1fr / 1fr 1fr;
	grid-column-gap: 1rem;
	grid-row-gap: 0.5rem;
	justify-items: center;
}
@media (max-width: 1199px) {
	.number-comparison-inner-wrapper {
		grid-column-gap: 0.5rem;
	}
}

.number-comparison-title {
	font-size: 1.25rem;
}
@media (max-width: 1199px) {
	.number-comparison-title {
		font-size: 1rem;
	}
}

.number-comparison-value {
	font-size: 2rem;
}
@media (max-width: 1199px) {
	.number-comparison-value {
		font-size: 1.25rem;
	}
}

.number-comparison-positive {
	color: var(--green);
	display: flex;
}

.number-comparison-negative {
	color: var(--red);
}

.number-comparison-equals {
	color: var(--gray);
}

.number-comparison-difference {
	align-content: center;
	display: grid;
	grid-auto-flow: column;
}
