.slider-wrapper {
	height: 1rem;
	position: relative;
}

.slider-range {
	appearance: none;
	background: transparent;
	box-sizing: border-box;
	height: 1rem;
	left: 0;
	margin: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.slider-range:focus {
	outline: none;
}

.slider-range::-webkit-slider-runnable-track {
	background-color: var(--border-color);
	border-radius: var(--border-radius);
	box-sizing: border-box;
	height: 4px;
}

.slider-range::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-color: var(--blue);
	border-radius: 0.5rem;
	height: 1rem;
	margin-top: calc(-0.5rem + 2px);
	position: relative;
	width: 1rem;
}

.slider-range::-moz-range-track {
	background-color: var(--border-color);
	border-radius: var(--border-radius);
	box-sizing: border-box;
	height: 4px;
}

.slider-range::-moz-range-progress {
	background-color: var(--accent-color);
	border-radius: var(--border-radius);
	box-sizing: border-box;
	height: 4px;
}

.slider-range::-moz-range-thumb {
	background-color: var(--accent-color);
	border: none;
	border-radius: 0.5rem;
	display: none;
	height: 1rem;
	position: relative;
	width: 1rem;
}

.slider-tooltip {
	background-color: var(--surface-color);
	border: var(--border);
	border-radius: var(--border-radius);
	display: none;
	padding: 0.5rem;
	position: absolute;
	text-align: center;
	top: -0.5rem;
	transform: translateX(-50%) translateY(-100%);
	user-select: none;
}

.slider-wrapper:hover > .slider-tooltip {
	display: block;
}

.slider-progress {
	background-color: var(--accent-color);
	border-radius: var(--border-radius);
	height: 4px;
	left: 0;
	position: absolute;
	right: 0;
	top: calc(0.5rem - 2px);
}
