.tab-bar {
	border-bottom: var(--border);
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 2rem;
	justify-content: start;
}

.tab-bar-tab {
	border-bottom: var(--border);
	color: var(--muted-text);
	cursor: pointer;
	height: 1.5rem;
	margin-bottom: var(--border-width);
	position: relative;
	user-select: none;
}

.tab-bar-tab:hover {
	filter: brightness(90%);
}

.tab-bar-tab-selected {
	border-bottom-color: var(--accent);
	color: var(--accent);
}

.tab-bar-tab-selected:hover {
	filter: none;
}

.tab-bar-tab-disabled {
	cursor: not-allowed;
}

.tab-bar-tab-link {
	color: inherit;
	display: block;
	height: 100%;
	text-decoration: none;
}
