.topbar-wrapper {
	align-items: center;
	display: grid;
	grid-auto-flow: column;
	height: 4.5rem;
	justify-content: space-between;
	left: 0;
	padding: 0 1rem;
	position: relative;
	right: 0;
	top: 0;
}

.topbar-link {
	color: var(--text-color);
	cursor: pointer;
	text-decoration: none;
}

.topbar-link:hover {
	filter: brightness(90%);
}

.topbar-details[open] > summary::before {
	background: transparent;
	bottom: 0;
	content: ' ';
	cursor: default;
	display: block;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
}

@media (min-width: 1200px) {
	.topbar-details {
		display: none;
	}
}

@media (max-width: 1199px) {
	.topbar-details {
		display: block;
	}
}

.topbar-details[open] .topbar-hamburger-icon {
	color: blue;
	display: none;
}

.topbar-details:not([open]) .topbar-x-icon {
	display: none;
}

.topbar-details-summary {
	appearance: none;
	align-items: center;
	box-sizing: border-box;
	color: inherit;
	cursor: pointer;
	display: grid;
	font: inherit;
	font-size: 1rem;
	height: 100%;
	outline: none;
	padding: 0rem 0.5rem;
	text-align: center;
	user-select: text;
	width: 100%;
}

.topbar-details-summary::-webkit-details-marker {
	display: none;
}

.topbar-brand-wrapper {
	align-items: center;
	display: grid;
	grid: auto / auto auto;
	grid-gap: 0.5rem;
	height: 2.5rem;
}

.topbar-brand-wrapper:hover {
	filter: brightness(90%);
}

.topbar-brand-img {
	height: 2.5rem;
	width: 2.5rem;
}

.topbar-brand-svg {
	height: 2.5rem;
	width: 2.5rem;
}

.topbar-brand-title {
	font-size: 1.75rem;
	font-weight: bold;
	user-select: none;
}

.topbar-items-wrapper {
	align-items: center;
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 2rem;
	user-select: none;
}

@media (max-width: 1199px) {
	.topbar-items-wrapper {
		display: none;
	}
}

.topbar-hamburger {
	align-content: space-between;
	cursor: pointer;
	display: grid;
	height: 15px;
	justify-self: end;
	margin: -1rem;
	padding: 1rem;
	width: 15px;
}

.topbar-hamburger:hover {
	filter: brightness(90%);
}

.topbar-dropdown-wrapper {
	left: 0;
	padding: 1rem;
	position: absolute;
	right: 0;
	top: 4.5rem;
	z-index: 1;
}

.topbar-dropdown-item {
	font-size: 1.25rem;
	padding: 0.5rem 1rem;
}

.topbar-dropdown-item:hover {
	background-color: var(--hover-color);
}

.topbar-dropdown-link {
	color: var(--text-color);
	cursor: pointer;
	text-decoration: none;
}
