name: build
on:
  workflow_dispatch:
    inputs:
      version:
        required: true
        default: v0.0.0
jobs:
  build:
    strategy:
      matrix:
        include:
          - os: linux
            arch: amd64
            runs_on: ubuntu-latest
            rust_target: x86_64-unknown-linux-gnu
            cli_file_name: tangram
            dynamic_library_file_name: libtangram.so
            static_library_file_name: libtangram.a
          - os: macos
            arch: amd64
            runs_on: macos-latest
            rust_target: x86_64-apple-darwin
            cli_file_name: tangram
            dynamic_library_file_name: libtangram.dylib
            static_library_file_name: libtangram.a
          - os: windows
            arch: amd64
            runs_on: windows-latest
            rust_target: x86_64-pc-windows-msvc
            cli_file_name: tangram.exe
            dynamic_library_file_name: tangram.dll
            static_library_file_name: tangram.lib
    runs-on: ${{ matrix.runs_on }}
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: cargo cache
        uses: actions/cache@v2
        with:
          key: ${{ matrix.os }}-cargo-${{ hashFiles('Cargo.lock') }}
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            build/cargo
      - name: npm cache
        uses: actions/cache@v2
        with:
          key: ${{ matrix.os }}-npm-${{ hashFiles('package-lock.json') }}
          path: |
            node_modules
      - uses: actions/setup-node@v1
        with:
          node-version: '15'
      - name: npm install
        run: |
          npm install
      - name: build
        run: |
          cargo build --release --bin tangram --target ${{ matrix.rust_target }}
          cargo build --release --lib libtangram --target ${{ matrix.rust_target }}
      - name: upload cli
        uses: actions/upload-artifact@v1
        with:
          name: tangram-cli-${{ github.event.inputs.version }}-${{ matrix.os }}-${{ matrix.arch }}
          path: build/cargo/release/${{ matrix.cli_file_name }}
      - name: upload cdylib
        uses: actions/upload-artifact@v1
        with:
          name: tangram-cdylib-${{ matrix.os }}-${{ matrix.arch }}
          path: build/cargo/release/${{ matrix.dynamic_library_file_name }}
      - name: upload staticlib
        uses: actions/upload-artifact@v1
        with:
          name: tangram-staticlib-${{ matrix.os }}-${{ matrix.arch }}
          path: build/cargo/release/${{ matrix.static_library_file_name }}
