name: build
on:
  workflow_dispatch:
    inputs:
      version:
        required: true
        default: v0.0.0
jobs:
  build:
    strategy:
      matrix:
        include:
          - os: linux
            arch: amd64
            runs_on: ubuntu-latest
            rust_target: x86_64-unknown-linux-gnu
            cli_file_name: tangram
            dynamic_library_file_name: libtangram.so
            static_library_file_name: libtangram.a
          - os: macos
            arch: amd64
            runs_on: macos-latest
            rust_target: x86_64-apple-darwin
            cli_file_name: tangram
            dynamic_library_file_name: libtangram.dylib
            static_library_file_name: libtangram.a
          - os: windows
            arch: amd64
            runs_on: windows-latest
            rust_target: x86_64-pc-windows-msvc
            cli_file_name: tangram.exe
            dynamic_library_file_name: tangram.dll
            static_library_file_name: tangram.lib
    runs-on: ${{ matrix.runs_on }}
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: setup node
        uses: actions/setup-node@v1
        with:
          node-version: '15'
      - name: cache
        uses: actions/cache@v2
        with:
          key: ${{ matrix.os }}
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            node_modules/
            build/
      - name: npm install
        run: |
          npm install
      - name: build
        run: |
          cargo build --release --target ${{ matrix.rust_target }}
      - name: upload cli
        uses: actions/upload-artifact@v1
        with:
          name: tangram-cli-${{ github.event.inputs.version }}-${{ matrix.os }}-${{ matrix.arch }}
          path: build/cargo/${{ matrix.rust_target }}/release/${{ matrix.cli_file_name }}
      - name: upload dynamic library
        uses: actions/upload-artifact@v1
        with:
          name: tangram-dyanmiclib-${{ matrix.os }}-${{ matrix.arch }}
          path: build/cargo/${{ matrix.rust_target }}/release/${{ matrix.dynamic_library_file_name }}
      - name: upload static library
        uses: actions/upload-artifact@v1
        with:
          name: tangram-staticlib-${{ matrix.os }}-${{ matrix.arch }}
          path: build/cargo/${{ matrix.rust_target }}/release/${{ matrix.static_library_file_name }}
